<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>欢迎登录聊天室</h1>
    <form action="" method="post">
        <p>请输入用户名：</p>
        <input type="text" name="username" id="username">
        <input type="submit" value="登录">
    </form>
    <div id="content_list">
    </div>
</body>
<script>
    var ws = new WebSocket("ws://127.0.0.1:9527/ws");
    ws.onopen = function () {
        ws.send("hello world")
    };
    ws.onmessage = function (eventMessage) {
        // console.log(eventMessage.data)
        var p=document.createElement("p");
        
        document.getElementById("content_list").appendChild(p);
        p.innerHTML=eventMessage.data;
    }

</script>

</html>